<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ partial "analytics.html" . }}
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <div class="header-bar">
          <a href="https://www.hyland.com" class="logo">
            <img src="{{ "img/hyland.webp" | relURL }}" alt="Hyland" style="height:100px;">
          </a>

          <a href="{{ .Site.BaseURL | safeURL }}" class="brand">
            <span class="brand-text">Alfresco Marketplace</span>
          </a>

          <a href="https://github.com/aborroy/alfresco-marketplace/issues/new?template=new-entry.yml"
            class="submit-link" target="_blank" rel="noopener">
            + Submit Entry
          </a>
        </div>
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        <p>©2025 Hyland Software, Inc. and its affiliates</p>
      </footer>
    </div>
  </body>
</html>
